@charset "UTF-8";
#page{
    display: flex;
}

#sub{
    border:1px solid #000;
    width:150px;
    height: 600px;
    box-sizing: border-box;
}
label{
    margin-left: 280px;
}
#title{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 400px;
}
textarea{
    resize: none;
    margin-left: 280px;
}
#btn_write{
    text-align: right;
}
#repl_zone{
    margin-left: 280px;
    width: 720px;
    border: 1px solid #000;
    height: 100px;
}

#repl_id{
  display: inline-block;
  width: 100px;
}

#repl_date{
    display: inline-block;
    width: 100px;
  }
  #repl_doc{
    display: inline-block;
    width: 100px;
  }
  #repl_update{
    display: inline-block;
    width: 100px;
  }

  #repl_delet{
    display: inline-block;
    width: 100px;
  }
